<html>
    <style>
        body {
          background-image: url('http://images7.memedroid.com/images/UPLOADED717/5ec463f8ee5a4.jpeg');
          background-size:  1000px 600px;
          background-repeat: no-repeat;
        }
    </style>
    <div style="color: white;">
    <h1>Create admin account</h1>
    <form action="{{url_for('creat_admin')}}" method= "POST">
        username:
        <input maxlength="15" minlength="4" type="username" placeholder="username" name="username">  <br><br>
        password & secret_key: 
        <input maxlength="80" minlength="8" type="password" name="password" placeholder="enter your password" >
        <input type="secret_key" name="secret_key" placeholder="enter your secret_key" >
        <input type="submit" vºalue="sign up">

    </form>
    </div>
</html>
