<html>
    <head>
        <style style="color:blue, font size50px">
        </style>
        <title>UTECBET</title>  

    </head>
    <body>
        <h2 style="color:darkslategray"> Ingrese sus datos de la aplicacion de la casa de apuestas </h2>
        <form action="/create" method="POST">
            <input type="text" name="name" placeholder="name"><br>
            <input type="text" name="password" placeholder="password"><br>
            <input type="submit" value="create">
        </form>
    </body>
</html>