<!DOCTYPE html>
<html>
   <head>
        <link rel = "stylesheet" href = "estilos.css" />
        <title>UTECBET</title>  
    </head>
    <body> 
    
        <div id = "container">

           <header>
            <h1>UTECBET</h1>
           </header>
            
           <section id = "contect">
                <h2>Registrate: </h2>
           </section>
           <aside>
            <form action="/create" method="POST">
                <input type="text" name="name" placeholder="name"><br>
                <input type="text" name="password" placeholder="password"><br>
                <input type="submit" value="create">
             </form>
           </aside>
           <aside>
            <h3>Botones</h3>
            <form>
                <input type = "texto">
                <input type="submit" value = "busqueda 1" />
                <input type="submit" value = "busqueda 2" />
            </form>
           </aside>

            <footer>
                UTECBET WEP &copy; 2022

            </footer>


        </div>
    </body>>


</html>    










